{% extends 'base.html' %}

{% block title %} ZaapCodes: Register {% endblock %}
{% block header %} Register {% endblock %}
{% block slogan %} Getting codes in a zap &#128498; {% endblock %}
{% block content %}

<h2>Register</h2>

<div class="login_register_container">
    <form method="post">
        <label for="username" class="login_register_words">Username</label>
        <br>
        <input name="username" id="username"  class="login_register_search" required>
        <br><br>
        <label for="password" class="login_register_words">Password</label>
        <br>
        <input type="password" name="password" id="password" class="login_register_search"required>
        <br>
        <input type="submit" value="Register" class="login_register_btn">
    </form>
    <img src="/static/registerImage.png" alt="register photo" id="registerPhoto">
</div>

{% endblock %}