<form id="lookupForm" action="lookup()" method="GET" class="row gy-2 gx-3 align-items-center">
  <div id="code-lookup-form-row1" class="row g-3 code-lookup-form-row">
    <div class="col-sm-7" id="street-address-field">
      <input type="text" id="address" class="form-control" placeholder="Enter address in GA" size="50" required>
    </div>
    <div class="col-sm" id="code-type-selection">
      <select class="form-select" id="code-type-menu" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">Plumbing</option>
        <option value="2">Fire</option>
        <option value="3">Mechanical</option>
      </select>
    </div>
    <div class="col-sm">
      <button type="submit" id="submitAddress">Find Jurisdiction</button>
    </div>
  </div>
</form>