<!DOCTYPE html>
<html lang="en">
<!--This is the Home Page-->
<head>
  <meta charset="UTF-8">
  <title>ZaapCodes: Privacy</title>
  <!-- Add favicon -->
  <link rel="icon" type ="image/x-icon" href="../static/favicon.ico"/> 

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="../static/StylePage.css" />
</head>

<body>
  <!-- Sidebar -->
  <div id="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">&times;</a>
    {% if g.user %}
      <span>{{ g.user['username'] }}</span>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
    <a href="/about-us">About Us</a>
    <a href="/search">Search</a>
    <a href="/zappy">Zappy</a>
    <a href="/projects">Projects</a>
    <a href="/privacy">Privacy</a>
    <a href="/contact-us">Contact Us</a>
  </div>

  <!-- Open sidebar button -->
  <span id="open-btn" onclick="openSidebar()">&#9776;</span>

  <!-- Main content -->
  <div class="content">
    <!-- Header with image and slogan -->
    <div class="header-container">
      <img src="/static/ZappyConst_image.jpg" alt="ZaapCodes Logo">
      <div>
        <h1>ZaapCodes</h1>
        <p class="slogan">Getting codes in a zap &#128498;</p>
      </div>
    </div>

    <h2>Privacy</h2>
    
</div>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <!-- Custom script -->
  <script src="../static/script.js"></script>
  <script>
    // JavaScript to handle sidebar open/close
    function openSidebar() {
      document.getElementById("sidebar").style.width = "250px";
      document.querySelector(".content").style.marginLeft = "250px";
    }
    function closeSidebar() {
      document.getElementById("sidebar").style.width = "0";
      document.querySelector(".content").style.marginLeft = "0";
    }
   </script>

</body>
</html>